body{
    background-color: grey;
    color: white;
}

h1{
    background-color: #B62222;
    color: white;
    padding: 2%;
    display: block;
    text-align: center;
    font-size: xxx-large;
    font-style: italic;
}

h2{
    margin-left: 2%;
    text-align: center;
}

#inicio{
    display: block;
    align-content: center;
}

#menu{
    display: flex;
    align-content: center;
}

.nav{
    display: block;
    text-align: center;
    background-color: lightcoral;
    text-decoration: none;
    padding: 0.9%;
    border-radius: 5%;
    color: white;
    margin: 0.5%;
    border: white solid 0.1em;
    
}

.nav:hover{
    background-color: lightsalmon;
    box-shadow: 0.1em black ;
}