body{
    background-color: grey;
    color: white;
}

h1{
    background-color: #B62222;
    color: white;
    padding: 2%;
    display: block;
    text-align: center;
    font-size: xxx-large;
    font-style: italic;
}

h2{
    margin-left: 2%;
}

.nav{
    display: inline-flex;
    justify-content: center;
    background-color: lightcoral;
    text-decoration: none;
    padding: 0.5%;
    border-radius: 5%;
    color: white;
    
}

.nav:hover{
    background-color: lightsalmon;
    border: white solid 0.1em;
}