#padre{
    background-color: black;
    color: ivory;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}

    #login{
        background-color: green;
        display: flex;
        flex-direction: column;
        /* flex-wrap: nowrap; */
        /* text-align: center; */
        align-items: center;
        margin: 0px 20% 0px 20%;
        padding: 30px;
        margin-bottom: 30px;
    }

    #info{ /*CONTIENE LAS SALAS Y LOS USUARIOS*/
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 30px;
        /* text-align: center; */
    }
        #usuarios{
            background-color: blue;
            flex: 1 1 auto;
            margin-right: 15px;
            padding: 15px;
        }
        #ul-conectados{
        }
        .li-conectados{
            margin-top: -1px;
            height: 20px;
            border-top: 1px dashed #787878;
            border-bottom: 1px dashed #787878;
            padding: -20px;
            display: flex;
            /* max-width: 400px; */
            justify-content: space-around;
        }

        #salas{
            background-color: red;
            /* display: flex; */
            flex: 1 1 auto;
            margin-left: 15px;
            padding: 15px;
            /* flex-direction: column; */
        }
        .li-salas{
            margin-top: -25px;
            display: flex;
            justify-content: space-around;
        }
        #modal-crear-sala{
            background-color: brown;
            flex: 1 1 auto;
            margin-left: 15px;
        }
        
        

    #sala-seleccionada{
        background-color: hotpink;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2%;
    }
        #header-sala{
            /* flex: 1 1 auto; */
            background-color: magenta;
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content: space-around;

            margin-bottom: 10px;
        }
            #btn-salir-sala{
                height: 60px;
                width: 60px;
                border-radius: 50%;
            }
            #conectados-sala{
                background-color: indigo;
                flex: 0.1 1 auto;
                /* margin-left: 15px; */
                margin-right: -30px;
                padding: 15px;

                display: flex;
                flex-direction: column;
                /* flex-wrap: nowrap; */
                /* margin-left: 10px;
                margin-bottom: 10px; */
            }
            #conectados-sala >h2{
                margin: 0px;
                padding: 0px;
            }
            #ul-conectados-sala{
                /* padding: 0px;
                margin: 0px; */
            }
            #li-conectados-sala{
                padding: 0px;
                margin-top: -1px;
                height: 20px;
                border-top: 1px dashed #787878;
                border-bottom: 1px dashed #787878;
            }
                .li-conectado-nombre{
                    flex: 2 1 auto;
                    width: 160px;
                }
                .li-conectado-preparado{
                    flex: 1 1 auto;
                }
                .li-conectado-puntaje{
                    flex: 1.5 1 auto;
                }
        
        #juego{
            flex: 1 1 auto;
            background-color: navy;
            /* text-align: center; */
            max-width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        #formulario-juego{
            
        }
        #resultados{
            max-width: 100%;
            margin-bottom: 20px;
            padding-bottom: 15px;
        }
            #explicacion-puntajes{
                margin-top: -20px;
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;
            }
            #explicacion-puntajes >p{
                margin: 0px;
                padding: 0px;
            }
        #info-y-chat{
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            max-width: 50%;
        }
            
            #chat-sala{
                background-color:mediumspringgreen;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                margin-left: 10px;
                height: 440px;
                /* text-align: center; */
            }
                #mensajes{
                    background-color: brown;
                    height: 67%;
                    max-height: 67%;
                    overflow-y: scroll;
                }
                .ul-mensajes{
                    display: flex;
                    margin-top: 15px;
                    margin-left: 10px;
                }
                .li-mensajes{
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: baseline;
                    margin-top: -25px;
                }
                .li-mensajes > p{
                    margin-right: 2%;
                }
                .usr{
                    background-color: violet;
                    max-width: 160px; /*entran 12 caracteres*/
                    font-weight: bold;
                    font-style: italic;
                    text-decoration-line: underline;
                }
                .hora{
                    font-size: 65%;
                }
                
                .mensaje-mio{
                    flex-direction: row-reverse;
                }
                .se-a-unido-a-sala{
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: green;
                    min-height: 25px;
                    max-height: 40px;
                    margin: -10px 70px 15px 70px;
                    border-radius: 5%;
                    border: solid black 1px;
                    padding: 0px 3px 0px 3px;
                }
                .abandonado-la-sala{
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: red;
                    min-height: 25px;
                    max-height: 40px;
                    margin: -10px 70px 15px 70px;
                    border-radius: 5%;
                    border: solid black 1px;
                    padding: 0px 3px 0px 3px;
                }
                .detuvo-el-juego{
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: orangered;
                    min-height: 25px;
                    max-height: 40px;
                    margin: -10px 70px 15px 70px;
                    border-radius: 5%;
                    border: solid black 1px;
                    padding: 0px 3px 0px 3px;
                }
                .informativo{
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(255, 255, 0, 0.671);
                    min-height: 25px;
                    max-height: 40px;
                    margin: -10px 70px 15px 70px;
                    border-radius: 5%;
                    border: solid black 1px;
                    padding: 0px 3px 0px 3px;
                }
                #p-estado{
                    margin-top: 3px;
                    margin-bottom: 3px;
                    background-color: cadetblue;
                }
                #barra-mensaje{
                    background-color: coral;
                    display: flex;
                    height: 10%;
                }
                #input-mensaje{
                    width: 90%;
                    resize: none;
                }
                #btn-enviar-mensaje{
                    background-color: darkorchid;
                }
.label-categoria{
    width: 130px;
    text-align: left;
}

caption{
    background-color: brown;
    font-weight: bold;
    font-size: 150%;
}
table{
    border-collapse: collapse; /*para unificar los bordes*/
    background-color: honeydew;
    color: black;
    margin: 0 auto;
    /* max-width: ; */
}
#div-tabla-resultados{
    overflow-x: scroll;
}
td,th{
    border: 3px solid black;
    max-width: 120px;
}
td{
    width: 60px;
}
th{
    background-color: gray;
}
#tabla-resultados:hover{
    cursor: pointer;
}
.unico{
    background-color: green;
}
.repetido{
    background-color: yellow;
}
.vacio{
    background-color: red;
}

.oculto{
    display: none;
}
/* .visible{
    display: flex;
} */

.deshabilitado{
    /* visibility: hidden; */
    display: none;
}

ul{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

/* #modal-crear-sala{
	
} */

@media screen and (max-width: 900px){
    #login{
        margin: 0px 20px 0px 20px;
    }

    #info{
        flex-direction: column;
        margin: 20px;
    }
        #usuarios{
            margin: 0px 0px 20px 0px;
        }
        #salas{
            margin: 0px 0px 20px 0px;
        }
        #modal-crear-sala{
            margin: 0px 0px 20px 0px;
        }
        #conectados-sala{
            margin: 0px 0px 20px 0px;
        }
    
    #sala-seleccionada{
        flex-direction: column;
    }
        #juego{
            max-width: 100%;
            margin-bottom: 20px;
            padding-bottom: 15px;
        }
        #formulario-juego{

        }
        #resultados{
            
        }
        #info-y-chat{
            max-width: 100%;
        }
            #info-y-chat h2{
                margin: 4px;
            }
            #chat-sala{
                margin: 0px;
                height: 300px;
            }
                #mensajes{
                }
                .ul-mensajes{

                }
                .li-mensajes{

                }
                /* clases dentro del li */
                .se-a-unido-a-sala{
                    margin: -10px 8px 15px 2px;
                }
                .abandonado-la-sala{
                    margin: -10px 8px 15px 2px;
                }
                .detuvo-el-juego{
                    margin: -10px 8px 15px 2px;
                }
                .informativo{
                    margin: -10px 8px 15px 2px;
                }
                #p-estado{

                }
                #barra-mensaje{
                    height: 10%;
                }
                #input-mensaje{

                }

}